<div class="kbit-header-upper">
	<!-- <a href="#" ng-click="goHome()"><img src="images/startup-karnataka-logo.png" width="265"></a> -->
	<div class="pull-right">
		<!-- <img class=" responsive-img" src="images/karnataka-logo.png" width="70" height="70"> -->
        &nbsp;
		<div class="dropdown pull-right kbit">
			<a data-ng-href="#" class="kbit-button-dropdown" data-toggle="dropdown">{{userName}}
                <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#" data-ng-click="logout()">Logout</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="kbit-header-lower">

</div>