<div id="body">
    <form name='resetPassword'>
    <md-content class="md-padding kbit-card" layout-xs="column" layout="row">
        <div flex-xs="" flex-gt-xs="100" layout="column">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
                    <md-card-content>
                        <div layout-align="center center">
                            <div class="text-center">
                                <h4>Reset your password</h4>
                            </div>
                        </div>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Password</label>
                            <input type="password" ng-model="user.password" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Confirm Password</label>
                            <input type="password" ng-pattern="getPattern()" name="confirm_password" ng-model="user.confirm_password">
                            <small ng-show="userForm.confirm_password.$error.pattern">
                                Passwords must match
                            </small>
                        </md-input-container>
                        <div layout-gt-xs="row" layout-align="center center">
                            <md-button type="submit" ng-click="resetPassword.$valid && savePassword(user)" class="md-raised md-primary">
                                <div>
                                    Save
                                </div>
                            </md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
    </md-content>
     </form>
</div>
